.container {
  @media (max-width: 575px) {
    max-width: calc(100% - 20px);
  }

  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {}
  @media (min-width: 992px) {
    max-width: 800px;
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  position: relative;
  margin: 0;
  border: 0;
  text-align: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
  z-index: 3;
}

#card-list-wrapper {
  display: flex;
  flex-direction: column;

  text-align: center;
  box-sizing: content-box;

  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;
}
