.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2020;
}

.hidden {
  visibility: hidden;
}

.modal-container {
  position: absolute;
  border-radius: 7px;
  max-width: 568px;
  max-height: 614px;
  background-color: whitesmoke;
  z-index: 2020;
  transform: translate(-50%, -55%);
  -webkit-box-shadow: 3px 5px 15px 1px #E1E1E1;
  box-shadow: 3px 5px 15px 1px #E1E1E1;
  scroll-behavior: smooth;

  @media (max-width: 600px) {
    max-width: 85vw;
  }
  @media (max-width: 992px) {

  }
}

.modal-header {
  border-bottom: none;
  //padding: 24px 24px 20px;
  min-height: 48px;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

.modal-control {
  color: #999999;
  z-index: 2300;
  margin-Top: -12px;
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  font-Size: inherit;
  opacity: 0.9;
  text-Shadow: none;
  font-weight: 700;
  line-height: 1;
  float: right;

  &:hover,&:focus {
    color: #aabad2;
  }
}

.modal-close-button {
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: #5b5b5b;
}

.modal-body {

}

.modal-action {

}

.modal-action-button {

}
