.nav {
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Julius Sans One', sans-serif;

  & > li {
    list-style: none;
    padding-left: 0;
  }
}

.nav-button {

}
